:root {
  --maing-bg-color: white;
  --main-nav-color: black;
  --default-color: rgb(241, 115, 115);
  --default-text-color: black;
}

// Size
$mainFontColor           : #101010;
$mainFontSize            : 14px;
$wideDesktop             : 1920px;
$hdDesktop               : 1440px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 940px;
$tableWidth              : 810px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

$defaultFont : "Subdex-Bold";
$navigationFont: 'bebas-Bold';

// Main color
// $default-color           : #267373;

$default-color           : rgb(241, 115, 115);
$primary-color           : #ff9292;
$default-color-hover     : rgb(247, 149, 149);
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;


$darkModColor            :#3e3e44