
// Size
$mainFontColor           : #101010;
$mainFontSize            : 14px;
// $mainFontWeight          : 400;
// $mainLineHeight          : 1.4;
$wideDesktop             : 1920px;
$hdDesktop               : 1440px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 940px;
$tableWidth              : 810px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

$defaultFont : "Subdex-Bold";

// Main color
$default-color           : #267373;
$primary-color           : rgba(187, 187, 187, 0.397);
$default-color-hover     : #1d6b6b;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;