.select {
  margin-bottom: 15px;
  label {
    margin:0 0 3px 0;
    padding: 0;
    font-weight: bold;
    display: block;
    transition: box-shadow .3s; 

  }
  select {  
    display: block;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    margin: 0 0 5px;
    height: 2.8rem;
    width: 100%;
    outline: none; 
    border: 2px solid rgba(220,220,220,1);  
    box-shadow: 1px 1px 3px 1px rgba(200,200,200, 0.2) inset;
    transition: border-color .3s;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding-left: .1rem;  
    transition: border-color .3s;
    background-color: rgba(187, 187, 187, 0.199);;
    &:focus{
      outline: none;
    }
    &:hover {
      border-color: #26737398;
    }  
  }
  option {
    background-color:rgb(255, 255, 255);
    border-radius: 2px;
  }
}