@import '../../assets/scss/app.scss';
.enrolle-list { 
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  max-width: 90rem;
  font-size: 1.2rem;
  padding: 1rem;
  tbody {
    width: 100%;
  }
  td {         
      text-align: left;
  } 
  td:nth-child(6) {
    div {
      transition: transform .3s;
      &:hover {
        color: #17179b;
        transform: rotate(90deg);  
      }
    }
  }
  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    &i:hover {
      color: #17179b;
      transform: rotate(145deg);
    }
  }
}