@import '../../assets/scss/app.scss';
.enrolle-list { 
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  max-width: 90rem;
  font-size: 1.2rem;
  tbody {
    width: 100%;
  }
  td {         
      text-align: left;
  } 
  td:nth-child(6) {
    div {
      transition: transform .3s;
      &:hover {
        color: #17179b;
        transform: rotate(90deg);  
      }
    }
  }
  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    &:active, &:visited, &:hover,  &:link {
      color: var(--default-text-color);
    }
    &i:hover {
      color: #17179b;
      transform: rotate(145deg);
    }
  }
}

.pen{
  display: inline-block;
  background-image: url(./images/pen.png);
  background-size: 1.2rem 1.12rem;
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
  vertical-align: middle;
  transition: transform .3s;
  &:hover {  
    transform: scale(1.3);
  }

}