.enrolle-list {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  max-width: 70rem;
  h1 {
    color: green;
  }  
  tbody {
    width: 100%;
  }

  td {         
      text-align: left;
  } 

  td:nth-child(6) {
    div {
      transition: transform .3s;
      &:hover {
        color: #17179b;
        transform: rotate(90deg);
  
      }
    }
  }
  
  a {
    text-decoration: none;
    color: black;
    &i:hover {
      color: #17179b;
      transform: rotate(145deg);

    }
  }
}