@import '../../assets/scss/app.scss';
.popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.438);
  position: fixed;
  left: 0;
  top: 0;
  div {
    padding: 20px;
    position: fixed;
    top: calc(50vh - 106px);
    left: calc(50vw - 195px);
    background-color: white;
    z-index: 100;
    color: var(--default-color);
    margin: 0 auto;
    text-align: center;
    p {
      margin-bottom: 2rem;
      margin-top: .5rem;
    }
  }
}

