@import '../../assets/scss/app.scss';
.faculty {
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem; 
  max-width: 60rem;  
  text-align: center;
  hr {
    width: 500px;
  }
  div {
    margin: 0 auto;
    
    text-align: left;
  }
  input {
   width: 100%;
   height: rem(33);
   font-size: rem(14);
  }
  input:nth-child(1) {
    padding: 20px;
    border: 1px solid green;
  }
  input
  form {    
    margin: 0 auto;
    position: relative;
  }
  input[type="date"] {
    height: rem(33);
  }
  button {    
    font-size: .6rem;
    font-style: normal;
    margin: 0;;
    height: 2.2rem;   
  }
}
.facultyName {  
  input {
    padding: 1rem;
    margin-bottom: 1rem;     
  }
}
.specialities {
  display: flex;
  flex-wrap: wrap;
  max-width: rem(1000);
  input {   
    max-width: 100%;  
  }
}
.schedule-input {
  font-size: .8rem; 
  input {    
    width: rem(200);
    &:invalid {
      color: red;
    }
  }
  display: inline-block;
  margin-right: 1rem;
}
.speciality-container {
  max-width: rem(400); 
}