@import '../../../assets/scss/app.scss';
.button {
  display: inline-block;
  padding: 10px 20px; 
  border: 1px solid #ccc;
  color: white;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .85rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: inset 2px 2px 1px rgba(0,0,0,.3) ;
  }
  &:disabled {
    background: #ccc;
    color: black;
    cursor:not-allowed
  }
}
.success {
  background: $default-color;
  &:hover {
    background: $default-color-hover;
  }
}
.error {
  background: rgba(250, 87, 108, 1);  
}
.primary {
  background: $default-color;
  color: #fff;
}
.delete {
  padding: 10px;
  background: none;
  border: none;
  font-size: .8rem;
  color: $default-color;
  &:hover {
    color: rgb(212, 85, 85);   
  }
}


