.add-new-faculty {
  margin: 0 auto;
  margin-top: 1rem; 
  max-width: 90rem;  
  text-align: center;
  font-size: 1.1rem;
  hr {
    width: 500px;
  }
  div {
    margin: 0 auto;
    
    text-align: left;
  }
  input {
   width: 100%;
  }
  input:nth-child(1) {
    padding: 20px;
    border: 1px solid green;
  }
  form {    
    margin: 0 auto;
    position: relative;
  }

  button {    
    font-size: .7rem;
    font-style: normal;
    margin: 0;;
    height: 2.2rem;
   
  }
}

.facultyName {  
  input {
    padding: 1rem;     
  }
}

.specialities {
  display: flex;
  flex-wrap: wrap;
  width: rem(1000);
  input {
    max-width: 400px;
    width: 400px;
  }
}

.schedule-input {
  font-size: .85rem;
 
  input {
    width: 200px!important;
    &:invalid {
      color: red;
    }
  }
  display: inline-block;
  margin-right: 1rem;
}

.speciality-container {
  max-width: 400px;
}