@import '../../assets/scss/app.scss';
.nav { 
  border-bottom:1px solid var(--main-nav-color);
  display: flex;
  width: 100%;
  ul {
    list-style: none;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 100rem;
    width: 78rem;
  }
  li {  
    position: relative;
    height: 4rem;
    padding: {
      top: 1.2rem; 
      left: .2rem;
      right: .2rem;
    };   
  }
  a {
    text-decoration: none;
    color: var(--main-nav-color);
    position: relative;
    font-size: 1.2rem;    
    font-family: $navigationFont;
    font-weight: 100;
    z-index: 5;
    div {
      width: 0%;
      transition: width .5s;
      top: 2.3rem;
      position: absolute;
      z-index: -1;
    }
  } 
  li:hover {    
    div {  
      width: 120%;
      position: absolute;
      left: -10%;
      top:-30%!important;
      height: 2rem;
      background-color: $default-color;       
    }        
  } 
}

.active { 
  position: relative;
  div {
    height: 2rem;
    background-color: $default-color;  
    width: 120%!important;
    position: absolute!important;
    left:-10%;
    top:-30%!important;
    z-index: -1;
  }  
}
@media screen and (max-width: $hdDesktop) {
 
}
@media screen and (max-width: $smDesktopWidth) {
     
}
@media screen and (max-width: $tableWidth) {

  .active {   
    div {    
      width: 103%!important;     
      left: -1%;      
    }  
  }
  .nav {
    li:hover {
      div {  
        width: 103%!important;        
        left: -1%;           
      }    
    }
  }

}