.nav {
  background-color: #267373;
  display: flex;
  ul {
    list-style: none;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 100rem;
    width: 60rem;
    

  }
  li {
  
    height: 3rem;
    padding: {
      top: 1.5rem; 
      left: .2rem;
      right: .2rem;
    }; 
    
    &:hover {
      background-color: rgba(187, 187, 187, 0.616)     
    }
  }

  a{
    text-decoration: none;
    color: white;
  
  }
  
}