@import '../../assets/scss/app.scss';
.nav {
  background-color: $default-color ;
  display: flex;

  ul {
    list-style: none;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 100rem;
    width: 60rem;
  }
  li {  
    height: 4rem;
    padding: {
      top: 1.2rem; 
      left: .2rem;
      right: .2rem;
    };   
  }
  li:hover   {
    div {
      border-bottom: 6px solid #c5c7c9 ;
      width: 100%;
      position: absolute;
    }    
  }
    a{
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 1.2rem;
    font-family:  $defaultFont;
    font-weight: 100;
    div {
      width: 0%;
      transition: width .3s;
      top: 2.4rem;
    }
    @media screen and (max-width: $hdDesktop) {
      top: -.2rem;
    }
    @media screen and (max-width: $smDesktopWidth) {
      top: -.35rem;
    }
    @media screen and (max-width: $tableWidth) {
      top: -.1rem;
    }
  }  
}

.active {
  color: red;
  position: relative;
  div {
    border-bottom: 6px solid #c5c7c9!important ;
    width: 100%!important;
    position: absolute!important;
    left:0;
    bottom:0;
  }  
}

