@import '../../assets/scss/app.scss';

.schedule-table {
  max-width: 100%;
  table {    
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px;    
    width: 100%;
    border-radius: 2px;
    color: var(--default-text-color);
    tr {
      text-align: left;
      transition: box-shadow .3s; 
      user-select: none;  
      width: 100%;     
    }
    th {
      font-family: "Bebas-Light";
      letter-spacing: 2px;
    }
    td,th {
      padding: 1rem;        
    }
    tbody tr {
      background-color: #ff9f9f  ;
      
    }
    tbody tr:hover {
      box-shadow: -9px 10px 17px -8px rgba(0, 0, 0, 0.767);   
     
    
    }  
    tbody tr:nth-child(2n) {
      background-color: rgba(233, 225, 225, 0.075);  
     
    }
  }
}