.input {
  margin-bottom: 15px;
  label {
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: bold;

  }
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    background-color: #eceff1;
    display: block;
    box-sizing: border-box;
    border: 2px solid rgba(220,220,220,1);
    padding: 7px;
    margin: 0 0 5px;
    width: 100%;
    outline: none;
    appearance: none;
    transition: all .3 ease-in-out;
   
    transition: border-color .3s;
    &:focus{
      outline: none;
    }
    &:hover {
      border: 2px solid #bebebe;
      width: 100%;
      box-shadow: 1px 1px 3px 1px rgba(200,200,200, 0.2) inset;
      appearance: none;
    }
  
  }
  span {
    color: #f01f30;
    font-size: 12px;
    font-weight: bold;
  }
  &.invalid label {
    color: #f01f30!important;
  }
  
}

.error-message {
  position: absolute;
}