
.create-enrolle {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-top: 1rem;
  div {
    margin-left: .2rem;
  }
  form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
    align-items: flex-start;

    input, select,label {
      max-width:30rem;  
      font-size: .8rem;
    }  
    hr{
      width: 100%;
    }     
  }

  h2 {
    font-size: 1.2rem;
  }
  &__item1,&__item2{
    padding: .9rem;
    border: 1px solid #267373;
    background-color:  #267373;
    border-radius: 3px;
    color: white;
    display:flex;
    flex-direction: column;  
  }
  &__item1{
   
  }
  &__item2{
    flex-grow: 0.7;
    display:flex;
    flex-direction: wrap;
    flex-wrap: wrap;       
    
  }
  &__certificate {
    height: 32rem;
    display:flex;
    flex-wrap: wrap; 
    flex-direction: column
  }
  select {
    height: 2rem;
  }
}


