@import '../../assets/scss/app.scss';
body {
  background-color: white;
}
.layout {
  display: flex;
  flex-direction: column; 
  h1 {
    font-size: 1.2rem;
  }
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
a {
  font-size: rem(16); 
}
a { 
  color: $default-color;
  &:active, &:visited, &:hover,  &:link {
    color: $default-color;
  }
}