.search {
  margin: 0 auto;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  input {
    border: 2px solid rgba(220,220,220,1);
    width: 100%;
    box-shadow: 1px 1px 3px 1px rgba(200,200,200, 0.2) inset;
    transition: border-color .3s;
    &:focus{
      outline: none;
    }
    &:hover {
      border-color: #17179b60;
    }
  }
   
  input[placeholder]{
    padding: 1rem;
    color: gray;
    font-family: Verdana;
    &:hover {
      // box-shadow: 1px 1px 3px 1px rgba(145, 145, 146, 0.2) inset;
      
    }
    &:focus::-webkit-input-placeholder {
      opacity: 0; 
      transition: opacity 0.3s ease;     
      border: none;
    }
  }
}