
@import '../../assets/scss/app.scss';
.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;  
  height: calc(100vh - 52px);
  overflow-y: hidden;

 form {
   background-color: white;
   font-family: $defaultFont;
   position: relative;

  div{
    display: flex;
    flex-flow: row-reverse;
  }

   h1 {
     color: $default-color;
     margin-bottom: 2rem;
   }  

   button {
    width: 100%;
    height: 3.5rem; 
    margin-top: 2rem;  
  }

  label {
    position: absolute;
    left: .9rem;
    bottom: 3px;
    font-size: 1.5rem;
    transition: all .3s;
  }

  input {
   border: none;
   background-color: white;
   border-bottom: 2px solid $default-color;
   font-size: 1.3rem;
   position: relative;
   font-family: Verdana;

   &:hover {
    border: none;
    background-color: white;
    border-bottom: 2px solid rgb(243, 17, 17);
    box-shadow: none;
   }
  }
  input::placeholder {
    position: absolute;
  }
  input:focus::placeholder  {
    color: $default-color;  
    left: 1px;
    top: 10px;
  }
 }
 .ErrorMessage {
    color: #f01f30;
    position: absolute;
    bottom: 7.1rem;
    font-size: .9rem;
    right: 20px;
}

}

.Auth > div {
  width: 100%;
  max-width: rem(900);
  padding: 0 20px;
}

.Auth h1 {
  color: black;
  text-align: center;
  font-size: rem(25);
  margin-bottom: rem(10);
}

.AuthForm {
  margin: 0 auto;
  width: rem(450);
  background: $primary-color;
  padding: rem(20);
  border-radius: 2px;
  box-shadow: -9px 10px 17px -8px rgba(0, 0, 0, 0.55);
}

